# dependencies
node_modules/
.pnpm-store/

# build output
.next/
dist/
build/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# prisma
prisma/generated/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# testing
coverage/
